/* CSS Variables */
:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --black-color: #000000;
    --white-color: #fff;
    --header-footer: #e0caff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: arial, Helvetica, sans-serif;
}

/* Reset */
* {
    max-width: 100%;
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

/* Body */
Body {
    Font-family: var(--body-font);
    Color: var(--accent1-color);
}

/* Page width */
main,
footer {
    max-width: 840px;
    Margin: 0 auto;
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;

}

Header {
    max-width: 840px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    Align-items: center;
    Padding: 16px;
    background-color: var(--header-footer);
    margin: 0 auto;

}

header li {
    background-color: var(--white-color);
    border: 2px solid var(--black-color);
}

Header img {

    Width: 160px;
    grid-column: 1/2;
    margin-left: 40%;

}

Nav ul {
    List-style: none;
    padding: 50px;

}

Nav ul li a {
    Text-decoration: none;
    Color: var(--primary-color);
    Font-weight: bold;
    /* border: 2px solid var(--black-color); */
    /* background-color: var(--white-color); */

}

/* SECTION 1 */

.section1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    /* align-items: center; */
}

.section1 h2 {
    color: var(--black-color);
    width: 50%;
    padding-top: 20px;
    text-align: center;
    grid-column: 2/3;
    justify-self: center;
}

.section1 img {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    justify-self: center;
    padding: 10px;
    padding-top: 0;

}

#p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    padding: 0 15px 0 15px;
    width: 100%;
}

#p2 {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-content: center;
    padding: 0 15px 0 15px;
    width: 100%;
}

/* SECTION 2 */
.section2 {
    width: 100%;
}

.div2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.div2 img {
    width: 130px;
    align-items: center;
}

figcaption {
    font-size: 10px;
}

/* Headings */
h1 {
    Font-family: var(--heading-font);
    Color: var(--primary-color)
}

.section2 h2 {
    color: var(--black-color);
    font-weight: bold;
    width: 100%;
    padding: 15px;
    text-align: center;
}

/* Spacing */
Nav,
section,
article {
    Margin: 5px;
    Padding: 8px;
}

/* Hero */
.hero {
    Position: relative;
}

.hero p {
    width: 100%;
}

.hero img {
    Display: block;
    Width: 100%;
    Height: auto;
}

/* Hero Heading */
.hero h1 {
    Position: absolute;
    Top: 20px;
    Width: 100%;
    Padding: 16px;
    Text-align: center;
    /* Background-color: var(--accent1-color); */
    Color: var(--white-color);
    Opacity: 0.8;
}

/* Hero Article */
.hero article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    Position: absolute;
    Bottom: 120px;
    Background-color: var(--accent1-color);
    Padding: 16px;
    Width: 835px;
    height: 40%;
    opacity: 0.8;
    align-items: center;
    color: var(--white-color);
}

/* Hero Article Image */
.hero article img {
    Width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}

/* Footer */
Footer {
    width: 100%;
    Display: grid;
    grid-template-columns: 10fr 3fr 0.5fr;
    place-items: center;
    background-color: var(--header-footer);
    margin: 0 auto;

    /* margin-left: 40%; */
}

footer p {
    font-size: 15px;
    grid-column: 1/2;
    text-align: center;
    margin-left: 30%;

}

/* Social Media */
.socialmedia {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr;
}

.socialmedia a {
    Text-decoration: none;
}

.socialmedia img {
    Width: 32px;
    Margin-left: 10px;

}

.a1 {
    grid-column: 2/3;
}

.a2 {
    grid-column: 3/4;
}