nav {
    background-color: rgb(224, 221, 221);
    display: inline;
    width: fit-content;
    padding: 10px;
}

nav a {
    color: blue;
    padding: 5px;
    display: block;
}

h1 {
    color: rgb(129, 18, 18);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0 0 30px #333;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}